<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>

<body>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="empleado : ${empleados}">
				<td th:text="${empleado.id}"></td>
				<td th:text="${empleado.nombre}"></td>
				<td th:text="${empleado.email}"></td>
			</tr>
		</tbody>
	</table>

	<a th:href="@{/empleado}"><input type="button" value="Volver" /></a>
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>

</html>