<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
</head>

<body>
	<h3>Bienvenido, introduzca los detalles del empleado</h3>
	<form method="POST" th:action="@{/addEmpleado}" th:object="${empleadoForm}">
		<table>
			<tr>
				<td><label for="nombre">Nombre: </label></td>
				<td><input type="text" th:field="*{nombre}" class="form-control"
						th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''" /></td>
				<td><label th:errors="*{nombre}" /></td>
			</tr>
			<tr>
				<td><label for="email">Email: </label></td>
				<td><input type="text" th:field="*{email}" /></td>
				<td><label th:errors="*{email}" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Añadir" /></td>
			</tr>
		</table>
		<div th:if="${#fields.hasAnyErrors()}">
			<ul>
				<li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
			</ul>
		</div >
	</form>
	
	<form th:action="@{/logout}" method="POST">
        <input type="submit" value="Cerrar sesión"/>
    </form>
	
	<label th:text="${error}"/>
	<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>

</html>